<!-- Base of the html pages -->

{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    {% block title %}<title>django-bootstrap-boilerplate</title>{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" href="{% static 'assets/icon.png' %}" type="image/png" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" type='text/css'>
  </head>
  <body>

      <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#">Boilerplate</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li {% if active == 'home' %} class="active" {% endif %}>
                <a class="nav-link" href="{% url 'home' %}">Home</a>
              </li>
              <li {% if active == 'about' %} class="active" {% endif %}>
                <a class="nav-link" href="{% url 'about' %}">About</a>
              </li>
              <li {% if active == 'contact' %} class="active" {% endif %}>
                <a class="nav-link" href="{% url 'contact' %}">Contact</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Dropdown list
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Dropdown</a>
                  <a class="dropdown-item" href="#">Dropdown2</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Dropdown3</a>
                </div>
              </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
        </nav>

<!--Breadcrumb navbar
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item"><a href="#">Library</a></li>
    <li class="breadcrumb-item active" aria-current="page">Data</li>
  </ol>
</nav>
-->

    {% block content %}
    {% endblock %}

    <br>
    <br>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
          </li>
          <li class="page-item"><a class="page-link" href="{% url 'home' %}">1</a></li>
          <li class="page-item"><a class="page-link" href="{% url 'about' %}">2</a></li>
          <li class="page-item"><a class="page-link" href="{% url 'contact' %}">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>
         <br>
         <br>

         <footer class="container-fluid text-center bg-dark text-white">
           <div class="row">
             <div class="col-md-12 mt-md-0 mt-12 bg-dark">
               <br>
               <h5 class="text-uppercase">Django-Bootstrap-Boilerplate</h5>
             </div>
           </div>
           <hr>
           <div class="row">
             <div class="col-md-4 mb-md-0 mb-3">
               <h4>Follow us</h4>
               <a href="https://github.com/endormi/awesome-dj" class="fa fa-github text-white text-decoration-none" style="font-size: 32px; padding-right: 15px;"></a>
               <a href="https://twitter.com/_endormi/" class="fa fa-twitter-square text-white text-decoration-none" style="font-size: 32px;"></a>
             </div>
             <div class="col-md-3 mb-md-0 mb-3">
               <h5 class="text-uppercase">Text</h5>
               Icon used for favicon: <a target="_blank" href="https://icons8.com/icons/set/django" class="text-white text-decoration-none">Django icon</a> icon by <a target="_blank" href="https://icons8.com" class="text-white text-decoration-none">Icons8</a>.
               Social media icons are licensed under <a href="https://fontawesome.com/license/free" class="text-white text-decoration-none">CC BY 4.0 License</a> and from <a href="https://fontawesome.com/" class="text-white text-decoration-none">fontawesome.</a>
               <p><b>NOTE:</b> <i>If you think about using this icon, you need to include the icon link if you don't have a license.</i></p>
                 <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                 Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                 <br>
             </div>
             <div class="col-md-2 mb-md-0 mb-4">
               <h5 class="text-uppercase">Links</h5>
               <ul class="list-unstyled">
                 <li><a href="{% url 'home' %}" class="text-light text-decoration-none">Home</a></li>
                 <li><a href="{% url 'about' %}" class="text-light text-decoration-none">About</a></li>
                 <li><a href="{% url 'contact' %}" class="text-light text-decoration-none">Contact</a></li>
               </ul>
             </div>
             <div class="col-md-3 mb-md-0 mb-3">
               <h5 class="text-uppercase">Text</h5>
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                 Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                 Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                 <br>
             </div>
           </div>
           <hr>
         <div class="container-fluid">
           <div class="row">
             <div class="col-md-12 bg-dark">
               <div class="text-center text-white py-3">Copyright content...</div>
             </div>
           </div>
         </div>
       </footer>

	   <script src="{% static 'js/main.js' %}"></script>
	   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
